@import "variables.less";
@media screen and (max-width: 999px) {
}

body{
	font-family: 'Helvetica-Neue', sans-serif;
	margin: 4% 6.38% 4% 6.38%;
}

h1{
	font-family: 'Georgia', serif;
	font-size: @h1;
	line-height: @lineHeight-titles;
	color: @text-color; 
	display: -webkit
}

h2{
	font-family: 'Georgia', serif;
	font-size: @h2;
	line-height: @lineHeight-titles;
	color: @text-color; 
}

p{
	font-family: 'Helvetica Neue', sans-serif;
	font-size: @content;
	line-height: @lineHeight-body;
	color: @text-color; 
}


//LAYOUT 1 ----------------------------------------------------------------------------------

section.layout-1{ 
	margin: 0 0 6.38% 0;
	overflow: auto;
}

// 2.127% — WIDTH OF 1/3 OF A COLUMN WITHIN 12-COLUMN LAYOUT
// 6.38% - WIDTH OF ONE COLUMN WITHIN 12-COLUMN

p.layout-1-copy{
	margin-top: 0;
}

div.layout-1-img{
	background-color: #f9f9f9;
	height: 30em;
	overflow: auto;
}

.col-2 {
  -webkit-columns: 2 300px;
     -moz-columns: 2 300px;
          columns: 2 300px;
   -moz-column-gap: 6.38%;
   -webkit-column-gap: 6.38%;
   column-gap: 6.38%;

}