@media screen and (max-width: 1023px) {
	html > body{
		margin: 1em;
	}

	html > body > .layout{
		margin-bottom: 2em;
	}
}

body{
	font-family: 'Helvetica-Neue', sans-serif;
	margin: 3em;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1{
	font-family: 'Georgia', serif;
	font-size: 3em;
	font-weight: bold;
	line-height: 1.25em;
	color: #333; 
	margin-bottom: 0;
}

h2{
	font-family: 'Georgia', serif;
	font-weight: normal;
	font-size: 2em;
	line-height: 1.25em;
	color: #333; 
	padding-bottom: .2em;
	border-bottom: 1px solid #ccc; 
}

h2{
	font-family: 'Georgia', serif;
	font-size: 2em;
	line-height: 1.25em;
	color: #333; 
    margin-bottom: 1em;
}

h3{
	font-family: 'Helvetica-Neue', sans-serif;
	font-size: 1.2em;
	line-height: 1.25em;
	color: #333; 
}

p{
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #333; 
    padding-bottom: .8em;
}

.layout{
	margin-bottom: 4em;
}

.nomargin{
	margin-top: 0;
}

#clear{
	clear: both;
}

#bottomspace{
	margin-bottom: .5em;
}

.placeholder-image{
    background-color: #eee;
	height: 25em;
}


